*.o
OLD/
oldImp/
oldImp1/
*.png
hex
core
*.pdf
test/
monte/*.o
monte/hex
img/
count.py
hex.zip
monte/drafts/
monte/sub/
monte/*.txt
minmaxmonte/sub/
minmaxmonte/test/
minmaxmonte/*.txt
minmaxmonte/*.o
minmaxmonte/hex
